.container_ph{
    width: 80%;
    height: 10rem;
    border-radius: 15px;
    border: 2px solid #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,0.5);
    animation: load 1s infinite linear alternate;
}
.img_ph{
    margin-left: 1.5rem;
    width:7rem;
    height: 7rem;
    border-radius: 15px;
    background-color: #333;
    animation: loadCnt 1s infinite linear alternate;
}
.text_ph{
    flex: 0.95;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_ph{
    border-radius: 15px;
    width: 90%;
    height: 2rem;
    background-color: #333;
    animation: loadCnt 1s infinite linear alternate;
}
.content_ph{
    border-radius: 15px;
    margin-top: 0.9rem;
    width: 80%;
    height: 1.5rem;
    background-color: #333;
    animation: loadCnt 1s infinite linear alternate;
}
@keyframes load{ 
    0% {
        border: 2px solid rgba(255, 255, 255, 0.25);
    }
    100% {
        border: 2px solid rgba(255, 255, 255, 0.05);;
    }
}

@keyframes loadCnt{
    0%{
        background-color: rgba(255, 255, 255, 0.25);
    }
    100%{
        background-color: rgba(255, 255, 255, 0.05);
    }
}
